{{ define "admin/adduser.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/admin/user/add" method="post" enctype="multipart/form-data">
      <label for="username">用户名：</label
      ><input
        id="username"
        type="text"
        name="username"
        value="{{- .username -}}"
        placeholder="用户名"
      /><br />
      <label for="face">头像：</label
      ><input id="face" type="file" name="face" /><br />
      <label for="age">年龄：</label
      ><input id="age" type="number" name="age" placeholder="年龄" /><br />
      <label for="">邮箱：</label
      ><input id="email" type="email" name="email" placeholder="邮箱" /><br />
      <button type="submit">提交</button>
    </form>
  </body>
</html>
{{ end }}
